<% if @groups.any? %>
    <ul>
      <% @groups.each do |group| %>
          <li>
            <%= link_to group.name, group %>
            <% if @user.owner_of?(group) %>
                (Owner)
            <% end %>
          </li>
      <% end %>
    </ul>
<% else %>
    <%= render partial: 'layouts/none', locals: {message: 'Nenhum grupo'} %>
<% end %>