
    <% if @groups.any? %>

<section class="wrapper">

  <div class="row">

    <div class="col-md-12">
      <div class="content-panel">
        <h4>
          <i class="fa fa-angle-right"></i> Grupos
          <%= link_to 'Novo Grupo', new_user_group_path(current_user), class: 'btn btn-primary', style:'float:right; margin-right:10px; margin-top:-10px'%>
        </h4>

        <hr>
        <table class="table">
          <thead>
          <tr>
            <th></th>
            <th>Nome do grupo</th>
            <th>Dono do grupo?</th>
            <th></th>
          </tr>
          </thead>
          <tbody>


          <% @groups.each do |group| %>
              <tr>
                <td></td>
                <td><%= link_to group.name, group %></td>

                <td><%= @user.owner_of?(group) ? "Sim" : "Não"%></td>
                <td></td>
              </tr>
          <% end %>



          </tbody>
        </table>
      </div><! --/content-panel -->
    </div><!-- /col-md-12 -->


  </div><!-- row -->



</section>

<% else %>
<%= render partial: 'layouts/none', locals: {message: 'Nenhum grupo'} %>
<% end %>