



<% if @users.any? %>


<section class="wrapper">

  <div class="row">

    <div class="col-md-12">
      <div class="content-panel">
        <h4><i class="fa fa-angle-right"></i> Resultados da pesquisa</h4>
        <hr>
        <table class="table">


          <tbody>


          <% @users.each do |user| %>
              <tr>
                <td><%= image_tag user.profile_picture.url, height: 50, class:'img-circle' %>
                  <%= link_to user.name, user_path(user), style:'margin-left:10px' %>
                </td>
                <td> </td>
              </tr>
          <% end %>


          </tbody>
        </table>
      </div><! --/content-panel -->
    </div><!-- /col-md-12 -->


  </div><!-- row -->



</section>

























<% else %>

    <%= render partial: 'layouts/none', locals: {message: 'Nenhum usuário encontrado'} %>

<% end %>
