<h3>Resultados da pesquisa</h3>

<% if @users.any? %>

    <ul>
      <% @users.each do |user| %>
          <li>
            <%= image_tag user.profile_picture.url, height: 50 %>
            <%= link_to user.name, user_path(user) %>
          </li>
      <% end %>
    </ul>

<% else %>

    <%= render partial: 'layouts/none', locals: {message: 'Nenhum usuário encontrado'} %>

<% end %>
