<h1>Olá, <%= @user.name %></h1>

<% if @user.id == current_user.id && current_user.admin? %>
    <h2>Usuário administrador</h2>
<% end %>

<%= link_to 'Sair', destroy_user_session_path, method: :delete %>