<h1>Perfil</h1>

<p>Nome: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<% if @user.profile_picture? %>
    <p><%= image_tag @user.profile_picture.url, height: 100 %></p>
<% end %>

<% if @user == current_user %>
    <%= link_to 'Editar perfil', edit_user_path(@user) %>
<% else %>

    <% if current_user.is_friend_with?(@user) %>
        <% else %>
    <% end %>

<% end %>